<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tongdun.kunpeng.api.infrastructure.persistence.mybatis.mappers.kunpeng.PartnerClusterDAO" >
  <resultMap id="BaseResultMap" type="cn.tongdun.kunpeng.share.dataobject.PartnerClusterDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="biz_code" property="bizCode" jdbcType="VARCHAR" />
    <result column="cluster" property="cluster" jdbcType="VARCHAR" />
    <result column="partner_code" property="partnerCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="version" property="version" jdbcType="VARCHAR"/>
    <result column="is_new" property="isNew" jdbcType="TINYINT" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
    <result column="concurrency_version" property="concurrencyVersion" jdbcType="INTEGER"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id,uuid, gmt_create, gmt_modify, creator, operator, biz_code, cluster, partner_code,status,version,is_new,status,concurrency_version
  </sql>

  <select id="selectAvailableByCluster" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from partner_cluster
    where  status = 1 and cluster=#{cluster}
  </select>

  <select id="selectAllAvailable" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from partner_cluster
    where status = 1
  </select>

  <update id="update">
    update partner_cluster
    <set>
      <if test="isNew != null and isNew != ''">
        is_new = #{isNew},
      </if>
      <if test="version != null and version != ''">
        version = #{version},
      </if>
      <if test="status != null and status != ''">
        status = #{status},
      </if>
      <if test="partnerCode != null and partnerCode != ''">
        partner_code = #{partnerCode},
      </if>
      <if test="cluster != null and cluster != ''">
        cluster = #{cluster},
      </if>
      <if test="bizCode != null and bizCode != ''">
        biz_code = #{bizCode},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify},
      </if>
      <if test="creator != null and creator != ''">
        creator = #{creator},
      </if>
      <if test="operator != null and operator != ''">
        operator = #{operator},
      </if>
      <if test="concurrencyVersion != null and concurrencyVersion != ''">
        concurrency_version = #{concurrencyVersion} + 1,
      </if>
    </set>
    where id = #{id} and concurrency_version = #{concurrencyVersion}
  </update>

  <select id="selectByUuid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from partner_cluster
    where uuid = #{uuid} and status = 1
  </select>
</mapper>