<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tongdun.kunpeng.api.infrastructure.persistence.mybatis.mappers.kunpeng.PolicyFieldEncryptionDAO">

    <resultMap id="BaseResultMap"
               type="cn.tongdun.kunpeng.share.dataobject.PolicyFieldEncryptionDO">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
        <result property="policyDefinitionUuid" column="policy_definition_uuid" jdbcType="VARCHAR"/>
        <result property="fieldCode" column="field_code" jdbcType="VARCHAR"/>
        <result property="property" column="property" jdbcType="VARCHAR"/>
        <result property="fieldEncryptionType" column="field_encryption_type" jdbcType="VARCHAR"/>
        <result property="fieldIdentity" column="field_identity" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModify" column="gmt_modify" jdbcType="TIMESTAMP"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="operator" column="operator" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , uuid, policy_definition_uuid, field_code, property, field_encryption_type, field_identity, gmt_create, gmt_modify, creator, operator
    </sql>

    <select id="selectByPolicyDefinitionUuid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from policy_field_encryption
        where policy_definition_uuid = #{policyDefinitionUuid}
    </select>
</mapper>