<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tongdun.kunpeng.api.infrastructure.persistence.mybatis.mappers.kunpeng.CompareInfoDAO" >
	<resultMap id="BaseResultMap" type="cn.tongdun.kunpeng.api.engine.model.compare.CompareInfo" >
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="seq_id" jdbcType="VARCHAR" property="seqId" />
		<result column="partner_code" jdbcType="VARCHAR" property="partnerCode" />
		<result column="app_name" jdbcType="VARCHAR" property="appName" />
		<result column="policy_name" jdbcType="VARCHAR" property="policyName" />
		<result column="order_code" jdbcType="VARCHAR" property="orderCode" />
		<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
		<result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
		<result column="tc_request" jdbcType="LONGVARCHAR" property="tcRequest" />
		<result column="tc_reponse" jdbcType="LONGVARCHAR" property="tcReponse" />
		<result column="kp_request" jdbcType="LONGVARCHAR" property="kpRequest" />
		<result column="kp_reponse" jdbcType="LONGVARCHAR" property="kpReponse" />
		<result column="event_occur_time" jdbcType="TIMESTAMP" property="eventOccurTime" />
		<result column="description" jdbcType="LONGVARCHAR" property="description" />
	</resultMap>
	<sql id="Base_Column_List">
		id, seq_id, partner_code, app_name, policy_name, order_code, gmt_create, gmt_modify, tc_request, tc_reponse, kp_request, kp_reponse,event_occur_time, description
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from compare_info
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from compare_info
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.tongdun.kunpeng.api.engine.model.compare.CompareInfo">
		insert into compare_info (id, seq_id, partner_code,
								  app_name, policy_name, order_code,
								  gmt_create, gmt_modify, tc_request,
								  tc_reponse, kp_request, kp_reponse,
								  event_occur_time, description)
		values (#{id,jdbcType=BIGINT}, #{seqId,jdbcType=VARCHAR}, #{partnerCode,jdbcType=VARCHAR},
				#{appName,jdbcType=VARCHAR}, #{policyName,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR},
				#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, #{tcRequest,jdbcType=LONGVARCHAR},
				#{tcReponse,jdbcType=LONGVARCHAR}, #{kpRequest,jdbcType=LONGVARCHAR}, #{kpReponse,jdbcType=LONGVARCHAR},
				#{eventOccurTime,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.tongdun.kunpeng.api.engine.model.compare.CompareInfo">
		insert into compare_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="seqId != null">
				seq_id,
			</if>
			<if test="partnerCode != null">
				partner_code,
			</if>
			<if test="appName != null">
				app_name,
			</if>
			<if test="policyName != null">
				policy_name,
			</if>
			<if test="orderCode != null">
				order_code,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="gmtModify != null">
				gmt_modify,
			</if>
			<if test="tcRequest != null">
				tc_request,
			</if>
			<if test="tcReponse != null">
				tc_reponse,
			</if>
			<if test="kpRequest != null">
				kp_request,
			</if>
			<if test="kpReponse != null">
				kp_reponse,
			</if>
			<if test="description != null">
				description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="seqId != null">
				#{seqId,jdbcType=VARCHAR},
			</if>
			<if test="partnerCode != null">
				#{partnerCode,jdbcType=VARCHAR},
			</if>
			<if test="appName != null">
				#{appName,jdbcType=VARCHAR},
			</if>
			<if test="policyName != null">
				#{policyName,jdbcType=VARCHAR},
			</if>
			<if test="orderCode != null">
				#{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModify != null">
				#{gmtModify,jdbcType=TIMESTAMP},
			</if>
			<if test="tcRequest != null">
				#{tcRequest,jdbcType=LONGVARCHAR},
			</if>
			<if test="tcReponse != null">
				#{tcReponse,jdbcType=LONGVARCHAR},
			</if>
			<if test="kpRequest != null">
				#{kpRequest,jdbcType=LONGVARCHAR},
			</if>
			<if test="kpReponse != null">
				#{kpReponse,jdbcType=LONGVARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.tongdun.kunpeng.api.engine.model.compare.CompareInfo">
		update compare_info
		<set>
			<if test="seqId != null">
				seq_id = #{seqId,jdbcType=VARCHAR},
			</if>
			<if test="partnerCode != null">
				partner_code = #{partnerCode,jdbcType=VARCHAR},
			</if>
			<if test="appName != null">
				app_name = #{appName,jdbcType=VARCHAR},
			</if>
			<if test="policyName != null">
				policy_name = #{policyName,jdbcType=VARCHAR},
			</if>
			<if test="orderCode != null">
				order_code = #{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModify != null">
				gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
			</if>
			<if test="tcRequest != null">
				tc_request = #{tcRequest,jdbcType=LONGVARCHAR},
			</if>
			<if test="tcReponse != null">
				tc_reponse = #{tcReponse,jdbcType=LONGVARCHAR},
			</if>
			<if test="kpRequest != null">
				kp_request = #{kpRequest,jdbcType=LONGVARCHAR},
			</if>
			<if test="kpReponse != null">
				kp_reponse = #{kpReponse,jdbcType=LONGVARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.tongdun.kunpeng.api.engine.model.compare.CompareInfo">
		update compare_info
		set seq_id = #{seqId,jdbcType=VARCHAR},
			partner_code = #{partnerCode,jdbcType=VARCHAR},
			app_name = #{appName,jdbcType=VARCHAR},
			policy_name = #{policyName,jdbcType=VARCHAR},
			order_code = #{orderCode,jdbcType=VARCHAR},
			gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
			tc_request = #{tcRequest,jdbcType=LONGVARCHAR},
			tc_reponse = #{tcReponse,jdbcType=LONGVARCHAR},
			kp_request = #{kpRequest,jdbcType=LONGVARCHAR},
			kp_reponse = #{kpReponse,jdbcType=LONGVARCHAR},
			description = #{description,jdbcType=LONGVARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.tongdun.kunpeng.api.engine.model.compare.CompareInfo">
		update compare_info
		set seq_id = #{seqId,jdbcType=VARCHAR},
			partner_code = #{partnerCode,jdbcType=VARCHAR},
			app_name = #{appName,jdbcType=VARCHAR},
			policy_name = #{policyName,jdbcType=VARCHAR},
			order_code = #{orderCode,jdbcType=VARCHAR},
			gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>

    <delete id="batchDeleteByPrimaryKey" parameterType="java.lang.Long">
        delete from compare_info
        where id in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

    <select id="selectUnCompareInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from compare_info
        where description is null
        order by gmt_create desc
        limit 1000;
    </select>

    <select id="selectByPolicyNameAndEventOccurTime" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from compare_info
        <where>
            <if test="policyName != null">
                and policy_name = #{policyName}
            </if>
            <if test="eventOccurTime != null">
                and event_occur_time = #{eventOccurTime}
            </if>
        </where>
    </select>

</mapper>