<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tongdun.kunpeng.api.infrastructure.persistence.mybatis.mappers.kunpeng.DecisionCustomOutputDAO" >
  <resultMap id="BaseResultMap" type="cn.tongdun.kunpeng.share.dataobject.DecisionCustomOutputDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="policy_uuid" property="policyUuid" jdbcType="CHAR" />
    <result column="partner_code" property="partnerCode" jdbcType="VARCHAR" />
    <result column="display_order" property="displayOrder" jdbcType="INTEGER" />
    <result column="concurrency_version" property="concurrencyVersion" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="is_deleted" property="deleted" jdbcType="BIT" />
    <result column="code" property="code" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modify, creator, operator, uuid, name, policy_uuid, partner_code, 
    display_order, concurrency_version, status, is_deleted, code
  </sql>

  <select id="selectAvailableByPolicyUuid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from decision_custom_output
    where policy_uuid = #{policyUuid} and is_deleted = 0 and status=1
  </select>

  <select id="selectByUuid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from decision_custom_output where uuid = #{uuid}
  </select>

  <select id="selectAvailableByPartners" parameterType="java.util.Set" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from decision_custom_output
    where partner_code in
    <foreach collection="collection" item="partner" index="index"  open="(" separator="," close=")">
      #{partner}
    </foreach>
  </select>

</mapper>