<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tongdun.kunpeng.api.infrastructure.persistence.mybatis.mappers.kunpeng.PolicyScriptConfigDAO">
    <resultMap id="BaseResultMap" type="cn.tongdun.kunpeng.share.dataobject.PolicyScriptConfigDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="dynamic_script_uuid" property="dynamicScriptUuid" jdbcType="VARCHAR"/>
        <result column="policy_uuid" property="policyUuid" jdbcType="VARCHAR"/>
        <result column="sub_policy_uuid" property="subPolicyUuid" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from policy_script_config
    </select>

    <sql id="Base_Column_List">
        id
        , uuid, gmt_create, gmt_modify, creator, operator, dynamic_script_uuid, policy_uuid, sub_policy_uuid
    </sql>


    <select id="selectByPolicyUuid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from policy_script_config
        where policy_uuid = #{policyUuid}
    </select>
</mapper>