<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tongdun.kunpeng.api.infrastructure.persistence.mybatis.mappers.kunpeng.DecisionFlowDAO" >
  <resultMap id="BaseResultMap" type="cn.tongdun.kunpeng.share.dataobject.DecisionFlowDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="partner_code" property="partnerCode" jdbcType="VARCHAR" />
    <result column="event_id" property="eventId" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="concurrency_version" property="concurrencyVersion" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="origin_uuid" property="originUuid" jdbcType="CHAR" />
    <result column="process_content" property="processContent" />
    <result column="diagram_content" property="diagramContent" />
    <result column="is_deleted" property="deleted" jdbcType="BIT" />
    <result column="gmt_delete" property="gmtDelete"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, uuid, partner_code, event_id, description, creator, operator, status,
    concurrency_version, gmt_create, gmt_modify, origin_uuid, is_deleted, gmt_delete, process_content, diagram_content
  </sql>

  <select id="selectAll" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from decision_flow
  </select>

  <select id="selectByUuid" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from decision_flow where uuid = #{uuid} and status=1 and is_deleted=0
  </select>

</mapper>