<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tongdun.kunpeng.api.infrastructure.persistence.mybatis.mappers.kunpeng.CustomListValueDOMapper" >
  <resultMap id="BaseResultMap" type="cn.tongdun.kunpeng.share.dataobject.CustomListValueDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="data_value" property="dataValue" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="partner_code" property="partnerCode" jdbcType="VARCHAR" />
    <result column="custom_list_uuid" property="customListUuid" jdbcType="CHAR" />
    <result column="desensitized_value" property="desensitizedValue" jdbcType="VARCHAR" />
    <result column="is_desensitized" property="desensitized" jdbcType="BIT" />
    <result column="gmt_effect" property="gmtEffect" jdbcType="TIMESTAMP" />
    <result column="gmt_expire" property="gmtExpire" jdbcType="TIMESTAMP" />
    <result column="column_type" property="columnType" jdbcType="TINYINT" />
    <result column="column_values" property="columnValues" jdbcType="VARCHAR" />
    <result column="concurrency_version" property="concurrencyVersion" jdbcType="INTEGER" />
    <result column="is_deleted" property="deleted" jdbcType="BIT" />
    <result column="gmt_delete" property="gmtDelete" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, gmt_create, gmt_modify, creator, operator, data_value, description, partner_code, 
    custom_list_uuid, desensitized_value, is_desensitized, gmt_effect, gmt_expire, column_type, 
    column_values, concurrency_version, is_deleted, gmt_delete
  </sql>
  <select id="selectCountByListUuid" resultType="int">
    select count(*) cnt
    from custom_list_value
    where
    custom_list_uuid = #{customListUuid} and is_deleted = 0
  </select>

  <select id="selectByListUuid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from custom_list_value
    where
    custom_list_uuid = #{customListUuid} and is_deleted = 0
    limit #{offset},#{size};
  </select>

  <select id="selectByUuid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from custom_list_value
    where uuid = #{uuid,jdbcType=CHAR}  and is_deleted=0
  </select>



  <select id="selectByUuids" resultMap="BaseResultMap" parameterType="java.util.List" >
    select
    <include refid="Base_Column_List" />
    from custom_list_value
    where is_deleted=0
    and uuid in
    <foreach collection="list" item="uuid" index="index"  open="(" separator="," close=")">
      #{uuid}
    </foreach>
  </select>

</mapper>