<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tongdun.kunpeng.api.infrastructure.persistence.mybatis.mappers.kunpeng.RuleDOMapper" >
  <resultMap id="BaseResultMap" type="cn.tongdun.kunpeng.share.dataobject.RuleDO" >

    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uuid" property="uuid" jdbcType="CHAR" />
    <result column="rule_custom_id" property="ruleCustomId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="gmt_begin" property="gmtBegin"/>
    <result column="gmt_end" property="gmtEnd" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="template" property="template" jdbcType="VARCHAR" />
    <result column="parent_uuid" property="parentUuid" jdbcType="CHAR" />
    <result column="is_if_rule" property="ifRule" jdbcType="BIT" />
    <result column="rule_type" property="ruleType" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="attribute" property="attribute" jdbcType="VARCHAR" />
    <result column="policy_uuid" property="policyUuid" jdbcType="CHAR" />
    <result column="biz_uuid" property="bizUuid" jdbcType="CHAR" />
    <result column="biz_type" property="bizType" jdbcType="CHAR" />
    <result column="is_deleted" property="deleted" jdbcType="BIT" />
    <result column="concurrency_version" property="concurrencyVersion" jdbcType="INTEGER" />
    <result column="risk_config" property="riskConfig" />
    <result column="policy_definition_uuid" property="policyDefinitionUuid" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uuid, rule_custom_id, name, status, gmt_begin, gmt_end, priority,
    gmt_create, gmt_modify, template, parent_uuid, is_if_rule, rule_type, creator,
    operator, attribute, policy_uuid, concurrency_version, is_deleted, risk_config, policy_definition_uuid, biz_uuid, biz_type
  </sql>

  <select id="selectByUuid" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from rule where uuid = #{uuid} limit 1
  </select>

  <select id="selectByBizUuidBizType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
     from rule where biz_uuid = #{bizUuid} and biz_type = #{bizType} and is_deleted = 0  and status=1
     order by priority, gmt_create desc
  </select>

</mapper>