<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tongdun.kunpeng.api.infrastructure.persistence.mybatis.mappers.kunpeng.DomainEventDAO">
	<resultMap id="DomainEventMap" type="cn.tongdun.kunpeng.share.dataobject.DomainEventDO">
		<result property="id" column="id" />  
		<result property="uuid" column="uuid" />
		<result property="gmtCreate" column="gmt_create" />
		<result property="gmtModify" column="gmt_modify" />
		<result property="eventType" column="event_type" />
		<result property="entity" column="entity" />
		<result property="eventData" column="event_data" />
	</resultMap>
	
	<sql id="queryColumns">
		id,uuid,gmt_create,gmt_modify,event_type,entity,event_data
	</sql>


	<select id="queryByGmtModify" resultMap="DomainEventMap" parameterType="java.util.Date">
		select
		<include refid="queryColumns" />
		from domain_event
		where gmt_modify >= #{gmtModify,jdbcType=DATE}
		order by gmt_modify desc
	</select>
</mapper>