<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">


    <!-- spring cache 注解驱动  -->
    <cache:annotation-driven />
    <context:component-scan base-package="cn.tongdun.kunpeng.api"/>
    <context:component-scan base-package="cn.tongdun.tdframework"/>

    <bean id="tdframework-bootstrap" class="cn.tongdun.tdframework.core.boot.Bootstrap" init-method="init">
        <property name="packages">
            <list>
                <value>cn.tongdun.kunpeng.api</value>
            </list>
        </property>
    </bean>
</beans>
