<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fraudmetrix.jord.service.dal.dao.DynamicScriptDao">
    <resultMap id="scriptMap" type="ScriptDO">
        <result property="id" column="id" />
        <result property="uuid" column="uuid" />
        <result property="gmtCreate" column="gmt_create" />
        <result property="gmtModified" column="gmt_modified" />
        <result property="scriptName" column="script_name" />
        <result property="partnerCode" column="partner_code" />
        <result property="appName" column="app_name" />
        <result property="eventType" column="event_type"/>
        <result property="scriptCode" column="script_code" />
        <result property="replicationField" column="replication_field" />
        <result property="description" column="description" />
        <result property="productCode" column="product_code"/>
        <result property="replicationFieldDisplayName" column="display_name"/>
    </resultMap>



    <select id="exist" resultType="int" parameterType="ScriptDO">
        select count(*) from admin_script_config
        <where>
            replication_field=#{replicationField} and
            event_type=#{eventType} and
            app_name=#{appName} and
            product_code=#{productCode} and
            status=1
        </where>
    </select>


    <select id="queryWithFieldName" parameterType="Map" resultMap="scriptMap">
        select ac.*,rf.display_name from admin_script_config ac left join rule_field rf on ac.replication_field=rf.`name`
        <where>
            (ac.replication_field is not null and ac.replication_field != '') and
            (ac.event_type=rf.event_type or rf.event_type is null or rf.event_type = 'All')
            and ac.status=1
            <if test="scriptName != null">and ac.script_name like #{scriptName}</if>
            <if test="partnerCode !=null">and ac.partner_code = #{partnerCode}</if>
            <if test="appName != null">and ac.app_name = #{appName}</if>
            <if test="eventType != null and eventType != 'All'">and ac.event_type = #{eventType}</if>
            <if test="productCode != null">and ac.product_code = #{productCode}</if>
        </where>
    </select>

    <select id="query" parameterType="Map" resultMap="scriptMap">
        select * from admin_script_config
        where status=1
            <if test="scriptName != null">and script_name like #{scriptName}</if>
            <if test="partnerCode !=null">and partner_code = #{partnerCode}</if>
            <if test="appName != null">and app_name = #{appName}</if>
            <if test="eventType != null and eventType != 'All'">and event_type = #{eventType}</if>
            <if test="productCode != null">and product_code = #{productCode}</if>
            <if test="replicationField != null">and replication_field = #{replicationField}</if>
            <if test="scriptCode != null">and script_code like #{scriptCode}</if>
    </select>

    <select id="queryByProductCode" parameterType="String" resultMap="scriptMap">
        select id,uuid,script_name,partner_code,app_name,event_type,script_code,replication_field
        from admin_script_config
        where status=1
            <if test="productCode == null">
                and product_code is null
            </if>
            <if test="productCode != null and productCode != 'All'">
                and product_code = #{productCode}
            </if>
    </select>
</mapper>
